/* font-family: 'Lobster', cursive;
font-family: 'Lora', serif; */
html{
    scroll-behavior: smooth;
}
*{
    padding: 0;
    margin: 0;
}
.text-lora{
    font-family: 'Lora', serif;
}
.text-lobster{
    font-family: 'Lobster', cursive;
}
.bg-orange{
    background-color: #e28743;
}
.text-orange{
    color: #e28743;
}

/*-----Header------*/
/* Navbar */
.navbar-nav li a{
    color: black;
    margin-right: 1rem;
    transition: all 0.3s;
    font-weight: 600;
}
.navbar-nav li a:hover{
    border-top: 3px solid #e28743;
    border-bottom: 3px solid #e28743;
}
/* Header Cover */
.header-cover{
    width: 100%;
    height: 120vh;
    background-image: url("../images/coverBackground.PNG");
    background-size: cover;
    background-repeat: no-repeat;
    
}
.headerCoverBackground{
    width: 100%;
    height: inherit;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 9rem;
   
}
.headerTextBox{
    margin-top: 10rem;
    position: relative;
}
.welcomeText{
    text-shadow: 3px 3px 3px black;
    font-weight: bold;
}
.welcomeText::before,.welcomeText::after{
    content: " ";
    width: 40px;
    height: 4px;
    background-color: white;
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
}
.welcomeTextHeader{
    font-size: 4.5rem;
    color: #fff;
    text-shadow: 3px 3px 3px black;
}

/****************
Reservation
*****************/
.reservationForm{
    margin-left: 10%;
    margin-top: 2rem;
    width: 80%;
}
.reservationForm input{
    width: 100%;
    margin-bottom: 2rem;
    height: 3rem;
    border: none;
    outline: none;
    padding: 0.5rem;
    border-radius: 0.7rem;
    font-family: 'Lora', serif;
    box-shadow: 1px 1px 1px rgb(140, 136, 136);
}
.reserveNowBtn{
    padding: 1rem 2rem;
    border: none;
    font-family: 'Lora', serif;
    border-radius: 1.5rem;
    font-weight: bold;
    color: white;
    background-color: #e28743;
    text-shadow: 2px 2px 2px black;
    box-shadow: 2px 2px 2px rgba(204, 203, 203, 0.363);
}

/*******About **********/
#about h2{
    border-bottom: 3px solid #e28743;
    display: inline-block;
    padding-bottom: 0.5rem;
}
#about p{
    line-height: 180%;
    color: black;
}

/********Services**********/
.serviceSection{
    background-image: url("../images/serviceBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.serviceBackground{
    background-color: rgba(0, 0, 0, 0.7);
}
.serviceTiteDiv h1,.serviceTiteDiv p,.serviceBox h3,.serviceBox p{
    text-shadow: 1px 1px 1px black;
}
.serviceBox{
    width: 95%;
    border: 2px solid rgba(147, 147, 147, 0.5);
    margin: 0 1rem;
    padding: 1rem;
    color: white;
    background-color: rgba(255, 252, 252, 0.3);
}

.serviceBox i{
    font-size: 2rem;
    background-color: #e28743;
    padding: 0.5rem 1rem;
    color: white;
    display: inline-block;
    margin-bottom: 0.7rem;
}

/******** Review *************/
.reviewControlBtn i{
    background-color: #e28743;
    padding: 1rem;
    color: white;
    border-radius: 50%;
    font-size: 2rem;
}
.reviewBox{
    background-color: #e28743;
    width: 70%;
    margin: auto;
    padding: 2.5rem;
    text-align: center;
    border-top-left-radius: 5rem;
    border-bottom-right-radius: 5rem;
    color: white;
    font-family: 'Lora', serif; ;
}
.reviewBox .personIcon{
    font-size: 2.5rem;
    padding: 0;
    margin: 0;
}

/******* Gallery **************/
.galleryBox img{
    width: 100%;
    height: auto;
    position: relative;
}
.galleryBox a{
    position: absolute;
    z-index: 2;
}



/******* Responsive ******/
@media screen and (min-width : 1000px){
    .header-cover{
        height: 85vh;
    }
    .reservationForm{
        margin-left: 20%;
        margin-top: 2rem;
        width: 60%;
    }
    .serviceBox{
        height: 18rem;
    }
}

/*******Contact Us ********/
.contactTitle{
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: #e28743;
}
.btn-submit{
    background-color: #e28743;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 2px rgb(200, 200, 200);
}

/** Footer **/
.footerBackgroundBox{
    background-image: url("../images/footerBackground.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.footerBox{
    background-color: rgba(0, 0, 0, 0.5);
}
.footer-icon i{
    font-size: 2rem;
    color: #f28c3d;
    margin-right: 0.8rem;
}
hr{
    border: 2px solid #eb9553;
}